@model BookViewModel

<h2>Detalji o Knjizi</h2>

<p><strong>Naziv:</strong> @Model.Title</p>
<p><strong>Autor:</strong> @Model.Author</p>
<p><strong>Cena:</strong> @string.Format("{0:C}", Model.Price)</p>
<p><strong>Žanr:</strong> @Model.Genre</p>
<p><strong>Količina:</strong> @Model.Quantity</p>

<a asp-action="Index">Nazad na listu</a>
